# frozen_string_literal: true

module <%= module_name %>
  class <%= class_name %>::Component < <%= parent_class %>
  <%- if initialize_signature -%>
    <%= initialize_signature %>
  <%- end -%>
  end
end
